server {
  server_tokens off;
  listen 80;
  server_name <%= nginx_server_name %>;
  client_max_body_size 1G;

  # Location for CI deployment 
  location /demo  {
    alias /tm/sites/demo.tidemark.net/;
    index index.html;
    error_page 405 = $uri;
  }

  # Location for stubble-powered demos
  location /test  {
    alias /tm/sites/test.tidemark.net/;
    index index.html;
  }

  # Rewrite requests to server api from stubble-powered site so they get faked out by php script
  #	rewrite_log		on;
	rewrite ^/test/api/(.*)$ /test/stubble.php?$1 last;

  # Enable PHP for stubble support - pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
  location ~ ^/test/(.*\.php)$ {
    include fastcgi_params;
    fastcgi_param SCRIPT_FILENAME /tm/sites/test.tidemark.net/stubble/$1;
	fastcgi_intercept_errors on; # for easier debug - prints php errors to nginx log
    fastcgi_pass  127.0.0.1:9000;
  }

  
  # Each eventually all tenants will have a subdomain which we will rewrite to be the first uri component in the webapp path
  # For now, let's hardcode the paths/tenants we need...
  # Also, we need to add the user-agent based redirect here too for desktop vs iPad...
  location /<%= nginx_live_path_component %>/integration {
    alias /tm/sites/app.tidemark.net/;
    index index.html;
  }


  # ^~ pattern matching indicates to stop matching any other patterns if this one is satisfied
  location ^~ /<%= nginx_live_path_component %>/integration/api {
    proxy_pass              http://localhost:8080/web/integration/api;
    proxy_redirect          http://<%= nginx_server_name %>/web/ http://$host:$server_port/<%= nginx_live_path_component %>/;
    proxy_set_header        Host    $host;
    proxy_set_header        X-Real-IP       $remote_addr;
    proxy_set_header        X-Forwarded-For $remote_addr;
  }

  # ~* pattern match is case-insensitive
  # Because the tomcat webapp has login.jsp as it's default page we need only redirect to / to get the login screen...
  location ^~ /<%= nginx_live_path_component %>/integration/login {
    proxy_pass              http://localhost:8080/web/integration/login;
    proxy_redirect          default;
    proxy_set_header        Host    $host;
    proxy_set_header        X-Real-IP       $remote_addr;
    proxy_set_header        X-Forwarded-For $remote_addr;
  }



  error_page  404              /404.html;
  location = /404.html {
    root   /usr/share/nginx/html;
  }

  # redirect server error pages to the static page /50x.html
  #
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}
