# http and https servers for maintenance page

server {
    server_tokens off;
    listen <%= @http_port %>;
    server_name _;

    # Respond to all API requests with "maintenance.json"

    # We're using redirects rather than simple rewrites for JSON requests.
    # This is slower than a simple rewrite since the browser has to repeat
    # the request.  However, it also has the nice property that the new
    # request always comes back as a "GET", which is good because Nginx
    # won't serve a static file as a response to a POST or PUT.

    if ($content_type = "application/json") {
        rewrite ^           /maintenance.json   redirect;   # definitely a JSON request
    }
    rewrite ^/api/          /maintenance.json   redirect;   # implies it's a JSON request
    rewrite ^/[^/]*/api/    /maintenance.json   redirect;   # implies it's a JSON request

    location / {
        root /files/maintenance;
        index maintenance.html;
        add_header Cache-Control no-cache;
        expires -1;
    }

    # Send all errors (catch file not found etc) to the maintenance page.
    error_page  404              /;
    error_page  500 502 503 504  /;
}

server {
    server_tokens off;
    listen <%= @https_port %>;
    server_name _;

    ssl on;
    ssl_certificate keys/wildcard.tidemark.net.cert;
    ssl_certificate_key keys/wildcard.tidemark.net.private.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    # Respond to all API requests with "maintenance.json"

    # We're using redirects rather than simple rewrites for JSON requests.
    # This is slower than a simple rewrite since the browser has to repeat
    # the request.  However, it also has the nice property that the new
    # request always comes back as a "GET", which is good because Nginx
    # won't serve a static file as a response to a POST or PUT.

    if ($content_type = "application/json") {
        rewrite ^           /maintenance.json   redirect;   # definitely a JSON request
    }
    rewrite ^/api/          /maintenance.json   redirect;   # implies it's a JSON request
    rewrite ^/[^/]*/api/    /maintenance.json   redirect;   # implies it's a JSON request

    location / {
        root /files/maintenance;
        index maintenance.html;
        add_header Cache-Control no-cache;
        expires -1;
    }

    # Send all errors (catch file not found etc) to the maintenance page.
    error_page  404              /;
    error_page  500 502 503 504  /;
}
