
upstream modelizer-servers {
  ip_hash;
  server {{ grains['fqdn'] }}:8080 weight=10 max_fails=3 fail_timeout=30s;
}
upstream phoenix-servers {
  ip_hash;
  server {{ grains['fqdn'] }}:8080 weight=10 max_fails=3 fail_timeout=30s;
}
upstream tomcat-servers {
  ip_hash;
  server {{ grains['fqdn'] }}:8080 weight=10 max_fails=3 fail_timeout=30s;
} 
upstream websockets {
  ip_hash;
  server {{ grains['fqdn'] }}:9000 weight=10 max_fails=3 fail_timeout=30s;
}


{% set nginxvariables  = pillar.get('nginx-variables', {}) -%}
# Non-SSL HTTP Server redirect
server{
{% if nginxvariables['deployment_environment_prod'] is defined  %}
    server_tokens off;
{% endif %}
    listen 80;
    server_name _;
    rewrite ^ https://$host$request_uri? permanent;
}

server {
{% if nginxvariables['deployment_environment_prod'] is defined %}
    server_tokens off;
{% endif %}
{% if nginxvariables.get('nginx_ssl_enable','true') == 'false' %}
    listen 80;
{% else %}
    listen 443;
    listen 4443;
    ssl on;
    ssl_certificate      keys/wildcard.tidemark.net.cert;
    ssl_certificate_key  keys/wildcard.tidemark.net.private.key;
{% endif %}

    server_name _;
    access_log  /var/log/nginx/access.log main;

    rewrite_log on;

    client_max_body_size 500M;

    ########## GZip Configuration ##########

    gzip on;
    gzip_http_version 1.0;
    gzip_comp_level 2;
    gzip_min_length 1100;
    gzip_buffers 16 8k;
    gzip_proxied any;
    gzip_types text/xml application/xml application/xml+rss text/css text/javascript application/javascript application/x-javascript application/json;
    gzip_static on;
    gzip_proxied expired no-cache no-store private auth;
    gzip_disable "MSIE [1-6]\.";
    gzip_vary on;

    ########## Presentation version numbering for the permacache ##########
    #
    set $presentation_version "unknown";
    include /tm/sites/demo.tidemark.net/app/version*.conf;

    ########## ??? ##########
    location ~ /\.       { access_log off; log_not_found off; deny all; }

    ########## Tenant Management (tenant-in-domain, tenant-in-path, etc.) ##########
    # If the tenant is specified in the domain name, extract it.
    set $tenant_host "";
    if ($host ~* ^([^\.-]+)(-[^\.]+)?\.tidemark\.net$) {
        set $tenant_host $1;
    }

    if ($tenant_host ~* ^cec$) {
        set $tenant_host "cec";
    }

    # Extract the first component of the URI.  This *may* be the tenant or it may just
    # be part of the path.  We must be careful to only use it as the tenant when it
    # must actually be the tenant.
    set $possible_tenant "";
    if ($uri ~* ^/([^/]+)) {
        set $possible_tenant $1;
    }

    ########## Top-level Rewrites (statics, permacache, web app, etc.) ##########

    location / {
        rewrite ^/saml/(.*)$ /web/saml/$1 last;

        rewrite ^/([^/]+)/(forge|phoenix)/$ /$1/forge;
        rewrite ^/([^/]+)/(forge|phoenix)(.*)$ /forge$3?tenant=$1 last;

        rewrite ^/$ /index.html;

        # ----- check for redundant tenant -----

        # If the tenant is specified in *both* the hostname and the first path component
        # then $redundant_tenant is the tenant; otherwise it's the empty string.
        set $redundant_tenant "";
        if ($possible_tenant = $tenant_host) {
            set $redundant_tenant $tenant_host;     # note $redundant_tenant will be empty when $tenant_host is
        }

        # ----- handle statics -----

        rewrite ^/favicon.ico$                                      /statics/favicon.ico last;
        rewrite ^/((app|lib|resources|stubble)/.*)$                 /statics/$1     last;
        rewrite ^/statics/(.*)$                                     /statics/$1     last;
        rewrite ^/permacache/(.*)$                                  /permacache/$1  last;

        # If the tenant is redundant *or* there is no tenant in the hostname at all, then
        # there *may* be a tenant in the first path component, followed by a static path.
        if ($redundant_tenant = $tenant_host) {
            rewrite ^/([^/]+)$                                      /$1/            last;
            rewrite ^/([^/]*)/((app|lib|resources|stubble)/.*)$     /statics/$2     last;
            rewrite ^/([^/]*)/statics/(.*)$                         /statics/$2     last;
            rewrite ^/([^/]*)/permacache/(.*)$                      /permacache/$2  last;
        }

        # ----- handle redunant tenants in request -----

        # If we have a redundant tenant scenario then we have two cases: API calls, which
        # should be handled directly, and everything else which should go through a
        # redirect to strip off the redundant tenant.  The rationale here is that non-API
        # URLs are often user visible, and there should only be one path to each page --
        # the path where the tenant is *only* specified in the hostname.  We don't care
        # about the web API urls since they're not really user visible and we don't want
        # to pay the extra cost of redirecting them (can we even redirect POSTs?).

        # TODO: Make the web application smarter so it never emits URLs with a redundant tenant!

        # Special case URLs with a redundant host if they're going to the web app.
        if ($redundant_tenant) {
            rewrite ^/([^/]*/api/.*)$                           /web/$1         last;  # just handle API immediately
            rewrite ^/[^/]*/(.*)$                               /$1             redirect;
        }

        # ----- handle non-redundant-tenant requests to the web app -----

        # Convert the URL to one that will be handled by the web app.
        if ($tenant_host != "") {
            rewrite ^ /web/$tenant_host$uri;    # tenant is only in the host, add it to the URL
        }
        if ($tenant_host = "") {
            rewrite ^ /web$uri;                 # tenant is already in the path
        }

        # Handle some ordinary url-to-url rewrites needed by the web app.
        rewrite ^/(web/[^/]*)/index.html$                       /$1/presentation/index       last;
        rewrite ^/(web/[^/]*)/logout$                           /$1/api/logout  last;
    }

    ########## Actually Handle Requests (web app, statics, permacache, etc.) ##########

    location /web/ {
        proxy_pass http://tomcat-servers;
        proxy_intercept_errors on;
        proxy_redirect http://tomcat/web/ $scheme://$host:$server_port/;
        proxy_redirect http://tomcat/ $scheme://$host:$server_port/;
        proxy_set_header Host tomcat;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Presentation-Version $presentation_version;
        if ($http_user_agent ~ "chromeframe") {
            add_header "X-UA-Compatible" "IE=Edge,chrome=1";
        }
        proxy_read_timeout 900;
        add_header    Cache-Control  no-cache;
    }

    location /socket.io {
        proxy_pass http://websockets;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
    }

    location /forge/ {
        proxy_pass http://modelizer-servers;
        proxy_set_header Host $host;
        if ($query_string !~ "tenant=") {
          rewrite ^/forge/?$ /$tenant_host/forge$1 redirect;
      }
    }

    location /phoenix/ { 
    rewrite ^/phoenix(/.*) /forge/$1 break; 
    proxy_pass http://phoenix-servers; 
    #proxy_intercept_errors on; 
    proxy_redirect http://phoenix-servers/phoenix/ $scheme://$host:$server_port/; 
    proxy_redirect http://phoenix-servers/ $scheme://$host:$server_port/; 
    proxy_set_header Host $host; 
    proxy_set_header X-Real-IP $remote_addr; 
    proxy_set_header X-Forwarded-For $remote_addr; 
    proxy_set_header X-Presentation-Version $presentation_version; 
    add_header Cache-Control no-cache; 
   }

    location /statics/ {
        root /tm/sites/demo.tidemark.net/;
        rewrite ^/statics/(.*)$ /$1 break;
        add_header Cache-Control no-cache;
        if ($http_user_agent ~ "chromeframe") {
            add_header "X-UA-Compatible" "IE=Edge,chrome=1";
        }
    }

    location /permacache/ {
        root /tm/sites/demo.tidemark.net/;
        rewrite ^/permacache/[^/]*/(.*)$ /$1 break;
        expires max;
        if ($http_user_agent ~ "chromeframe") {
            add_header "X-UA-Compatible" "IE=Edge,chrome=1";
        }
    }

    ########## Error Handling, etc. ##########

    error_page  404              /404.html;
    location = /404.html {
        root   /usr/share/nginx/html;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}
