#
# HTTPS server configuration
#

server {
    server_tokens off;
    listen       17520;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd_always;

      proxy_pass        http://<%= nginx_sslproxy_glu_console %>;
      proxy_set_header  X-Real-IP  $remote_addr;
    }
}

server {
    server_tokens off;
    listen       17521;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      deny all;
    }

    location /modelizer {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd;

      proxy_pass        http://<%= nginx_sslproxy_modelizer %>;
      proxy_set_header  X-Real-IP  $remote_addr;
    }
}

server {
    server_tokens off;
    listen       17522;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd;

      proxy_pass        http://<%= nginx_sslproxy_hdfs %>;
      proxy_set_header  X-Real-IP  $remote_addr;
    }
}

server {
    server_tokens off;
    listen       17523;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd;

      proxy_pass        http://<%= nginx_sslproxy_hbase %>;
      proxy_set_header  X-Real-IP  $remote_addr;
    }
}

server {
    server_tokens off;
    listen       17524;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      deny all;
    }

    location /ganglia {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd;

      proxy_pass        http://<%= nginx_sslproxy_ganglia %>;
      proxy_set_header  X-Real-IP  $remote_addr;
    }
}

server {
    server_tokens off;
    listen       17525;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      deny all;
    }

    location /nagios {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd;

      proxy_pass        http://<%= nginx_sslproxy_nagios %>;
      proxy_set_header  X-Real-IP  $remote_addr;
      proxy_set_header  Authorization "Basic bmFnaW9zYWRtaW46bmFnaW9zYWRtaW4=";
    }
}

server {
    server_tokens off;
    listen       17526;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd;

      proxy_pass        http://<%= nginx_sslproxy_snaplogic %>;
      proxy_set_header  X-Real-IP  $remote_addr;
      proxy_set_header  Authorization "Basic YWRtaW46c25hcGxvZ2ljX2FkbWluX3B3";
    }
}

server {
    server_tokens off;
    listen       17527;
    server_name  _;

    ssl                  on;
    ssl_certificate      cert.pem;
    ssl_certificate_key  cert.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location / {
      deny all;
    }

    location /nagios {
      auth_basic            "Restricted";
      auth_basic_user_file  htpasswd_nagios_ro;

      proxy_pass        http://<%= nginx_sslproxy_nagios %>;
      proxy_set_header  X-Real-IP  $remote_addr;
      proxy_set_header  Authorization "Basic bmFnaW9zcmVhZG9ubHk6bmFnaW9zcmVhZG9ubHk=";
    }
}


