# http and https servers for static content

server {
    server_tokens off;
    listen <%= @http_port %>;
    server_name _;

    location /permacache/ {
        expires max;
        alias /files/static/;
    }

    location /nocache/ {
        add_header Cache-Control no-cache;
        alias /files/static/;
    }
}

server {
    server_tokens off;
    listen <%= @https_port %>;
    server_name _;

    ssl on;
    ssl_certificate keys/wildcard.tidemark.net.cert;
    ssl_certificate_key keys/wildcard.tidemark.net.private.key;

    ssl_session_timeout  5m;

    ssl_protocols  SSLv2 SSLv3 TLSv1;
    ssl_ciphers  ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
    ssl_prefer_server_ciphers   on;

    location /permacache/ {
        expires max;
        alias /files/static/;
    }

    location /nocache/ {
        add_header Cache-Control no-cache;
        alias /files/static/;
    }
}
