# Non-SSL HTTP servers
# Just redirect all non-SSL requests to SSL requests.
server {
    listen 80;
    server_name acosta.staging.tidemark.net;
    rewrite ^/(.*)$ https://$host/$1 permanent;
}

# SSL servers for each tenant
server {
    listen 443;
    server_name acosta.staging.tidemark.net;

    ssl on;
    ssl_certificate keys/wildcard.tidemark.net.cert;
    ssl_certificate_key keys/wildcard.tidemark.net.private.key;

    # enforce no leading 'www', redirect them to plain subdomain names
    if ( $host ~* ^www\.(.*) ) {
        set $host_without_www $1;
        rewrite ^/(.*)$ $scheme://$host_without_www/$1 permanent;
    }

    # Rewrite all URLs to insert the code designator, which identifies the
    # UI code to use, and the tenant designator.
    rewrite_log on;
    if ($uri !~* ^/<%= nginx_live_path_component %>/acosta) {
        rewrite ^/(.*)$ /<%= nginx_live_path_component %>/acosta/$1 last;
    }

    #access_log  logs/host.access.log  main;

    location /<%= nginx_live_path_component %>/acosta/ {
        alias /tm/sites/staging.tidemark.net/;
        index index.html;
    }

    # ^~ pattern matching indicates to stop matching any other patterns if this one is satisfied
    location ^~ /<%= nginx_live_path_component %>/acosta/api {
        proxy_pass       http://localhost:8080/web/acosta/api;
        proxy_redirect   http://acosta.staging.tidemark.net/web/acosta/ https://$host:$server_port/; 
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    # ~* pattern match is case-insensitive
    # Because the tomcat webapp has login.jsp as it's default page we need only redirect to / to get the login screen...
    location ^~ /<%= nginx_live_path_component %>/acosta/login {
        proxy_pass       http://localhost:8080/web/acosta/login;
        proxy_redirect   http://localhost:8080/web/acosta/ https://$host:$server_port/; 
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
    }

    error_page  404              /404.html;
    location = /404.html {
        root   /usr/share/nginx/html;
    }

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location ~ ^/<%= nginx_live_path_component %>/acosta(/.*\.php)$ {
        include fastcgi_params;
        fastcgi_param   SCRIPT_FILENAME /tm/sites/staging.tidemark.net/$1;
        fastcgi_pass  127.0.0.1:9000;
    }
}
