#!/bin/bash
echo start >> /var/log/mongo-backup.txt
mongo --host {{ grains['ip_interfaces']['eth0'][0] }}   ./stopbalancer.js
date >> /var/log/mongo-backup.txt
mongodump --host {{ grains['ip_interfaces']['eth0'][0] }}  -o /data/backup/`date +%Y-%m-%d-%H%M`
mongo --host {{ grains['ip_interfaces']['eth0'][0] }} ./startbalancer.js
echo end >> /var/log/mongo-backup.txt
date >> /var/log/mongo-backup.txt
find /data/backup/ -maxdepth 1 -ctime +30 -type d -exec rm -rf {} \;
