{% set ms = pillar.get('mongos', {}) -%}

port={{ ms.port }}
logpath={{ ms.log_file }}
{% if grains['game'] == 'rog'  and grains['randenv'] == 'test' %}
configdb={{ ms.rog_test_config_svrs_repSet }}
{% endif %}
{% if grains['game'] == 'rog' and grains['randenv'] == 'prod' %}
configdb={{ ms.rog_prod_config_svrs_repSet }}
{% endif %}
{% if grains['game'] == 'idr' and grains['randenv'] == 'test' and grains['location'] == 'USA' %}
configdb={{ ms.idr_test_config_svrs_repSet }}
{% endif %}
{% if grains['game'] == 'idr' and grains['randenv'] == 'test' and grains['location'] == 'china' %}
configdb={{ ms.idr_staging_china_config_svrs_repSet }}
{% endif %}

{% if grains['game'] == 'idr' and grains['randenv'] == 'prod' and grains['location'] == 'USA'  %}
configdb={{ ms.idr_prod_config_svrs_repSet }}

{% elif grains['game'] == 'idr' and grains['randenv'] == 'prod' and grains['location'] == 'china' %}
configdb={{ ms.idr_prod_china_config_svrs_repSet }}
{% endif %}
