# In v1 configuration, type and id are  prefix parameters.
# type and id are recommended. type and id are still available for backward compatibility

## built-in TCP input
## $ echo <json> | fluent-cat <tag>
<source>
  type forward
  id forward_input
</source>


##TIDEMARK NGINX ACCESS
#<source>
#  type tail
#  path /var/log/nginx/access.log
#  tag logz.nginx_1_access
#  pos_file /var/log/fluent/nginx.1.access.pos
#  format /^(?<all>(?<remote>[^ ]*) (?<host>[^ ]*) (?<user>[^ ]*) \[(?<time>[^\]]*)\] "(?<method>\S+)(?: +(?<path>[^\"]*) +\S*)?" (?<code>[^ ]*) (?<size>[^ ]*)(?: "(?<referer>[^\"]*)" "(?<agent>[^\"]*)")?)/
#  time_format %d/%b/%Y:%H:%M:%S %z 
#</source>

##TIDEMARK NGINX ERROR 
#<source>
#  type tail
#  path /var/log/nginx/error.log
#  tag logz.nginx_1_error
#  pos_file /var/log/fluent/nginx.1.errors.pos
#  format /^(?<all>(?<time>[^ ]+ [^ ]+) \[(?<level>.*)\] (?<pid>\d*).(?<tid>[^:]*): (?<message>.*)$)/
#</source>


#TIDEMARK COMPILER MAIN 
<source>
  type tail
  path /tm/logs/compiler/*/main.log
  tag logz.compiler_1_main
  pos_file /var/log/fluent/compiler.1.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
</source>


#TIDEMARK DATA IO MAIN 
<source>
  type tail
  path /tm/logs/dataio/*/main.log
  tag logz.dataio_1_main
  pos_file /var/log/fluent/dataio.1.main.pos
  format /^(?<all>(?<time>i[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
  log_level warn
</source>


#TIDEMARK GRIDSLAVE 1 MAIN 
#untested
<source>
  type tail
  path /tm/logs/gridslave/*/main.log
  tag logz.gridslave_1_main
  pos_file /var/log/fluent/gridslave.1.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
  log_level warn
</source>


#TIDEMARK GRIDSLAVE 2 MAIN 
<source>
  type tail
  path /tm/logs/gridslave/*/main.log
  tag logz.gridslave_2_main
  pos_file /var/log/fluent/gridslave.2.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
  log_level warn
</source>


#TIDEMARK PROCESS FLOW MAIN 
<source>
  type tail
  path /tm/logs/process-flow/1/main.log
  tag logz.process-flow_1_main
  pos_file /var/log/fluent/process-flow.1.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
  log_level warn
</source>


#TIDEMARK RESULTSETMANAGER MAIN 
#untested
<source>
  type tail
  path /tm/logs/resultsetmanager/*/main.log
  tag logz.resultsetmanager_1_main
  pos_file /var/log/fluent/resultsetmanager.1.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
  log_level warn
</source>


#TIDEMARK SEARCH MAIN 
#untested
<source>
  type tail
  path /tm/logs/search/*/main.log
  tag logz.search_1_main
  pos_file /var/log/fluent/search.1.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
</source>


#TIDEMARK TOMCAT MAIN 
#untested
<source>
  type tail
  path /tm/logs/tomcat/main.log
  tag logz.tomcat_1_main
  pos_file /var/log/fluent/tomcat.1.main.pos
  format /^(?<all>(?<time>[^ ]+ [^ ]+) +\[(?<context>[^\]]*)\] +(?<level>[^ ]*) +\[(?<remote>[^\]]*)\] +(?<message>[\s\S]*))$/ 
</source>


#TIDEMARK ZOOKEEPER MAIN 
#untested
#<source>
#  type tail
#  path /tm/logs/zookeeper/main.log
#  tag logz.zookeper_1_main
#  pos_file /var/log/fluent/zookeper.1.main.pos
#  format /^(?<all>(?<time>[^ ]+ [^ ]+) +[^ ]+ +(?<level>[^ ]*) +\[(?<context>[^\]]*)\] +[^ ]+ +(?<message>[\s\S]*))$/ 
#</source>



#TIDEMARK HDFS DATA and NAME NODE MAIN 
#untested
#<source>
#  type tail
#  path "/tm/logs/hdfs/hadoop-hdfs-datanode-#{Socket.gethostname}.log"
#  tag logz.hdfsdatanode_1_main
#  pos_file /var/log/fluent/hdfsdatanode.1.main.pos
#  format /^(?<all>(?<time>[^ ]+ [^ ]+) +(?<level>[^ ]*) +[ ]*(?<context>[^ :]*):* +(?<message>[\s\S]*))$/ 
#</source>


#<source>
#  type tail
#  path "/tm/logs/hdfs/hadoop-hdfs-namenode-#{Socket.gethostname}.log"
#  tag logz.hdfsnamenode_1_main
#  pos_file /var/log/fluent/hdfsnamenode.1.main.pos
#  format /^(?<all>(?<time>[^ ]+ [^ ]+) +(?<level>[^ ]*) +[ ]*(?<context>[^ :]*):* +(?<message>[\s\S]*))$/ 
#</source>

###########################



<match logz.*>
  type logzio
  endpoint_url http://listener.logz.io:8090?token=fOTZzJmzHkjiVEOzHKJqnLNfUFpILKDD
</match>



