[program:idr]
command=node /home/idr/IDR-Server/idr-server/index.js
autostart=true
autorestart=true

{% if grains['randenv'] == 'dev'  %}
environment=DEVELOPMENT=true
{% endif %}
{% if grains['randenv'] == 'test'  %}
environment=STAGING=true
{% endif %}
{% if grains['randenv'] == 'prod'  %}
environment=PRODUCTION=true
{% endif %}
{% if grains['location'] == 'china'  %}
environment=LOCATION=china
{% endif %}

stderr_logfile=/home/idr/logs/node.log
stdout_logfile=/home/idr/logs/node.log
user=idr

