[program:rog]
{% if grains['randenv'] == 'dev'  %}
command=node /home/rog/gop_development/index.js
{% endif %}
{% if grains['randenv'] == 'test'  %}
command=node /home/rog/rog_ri_staging/index.js
{% endif %}
{% if grains['randenv'] == 'prod'  %}
command=node /home/rog/rog_ri_production/index.js
{% endif %}
autostart=true
autorestart=true

{% if grains['randenv'] == 'dev'  %}
environment=DEVELOPMENT=true
{% endif %}
{% if grains['randenv'] == 'test'  %}
environment=STAGING=true
{% endif %}
{% if grains['randenv'] == 'prod'  %}
environment=PRODUCTION=true
{% endif %}

stderr_logfile=/home/rog/logs/node.log
stdout_logfile=/home/rog/logs/node.log
user=rog

