[program:cstool]
{% if grains['game'] == 'idr'  %}
command=node /home/ubuntu/IDR-CSTool/bin/www
{% else %}
command=node /home/ubuntu/RoG-CSTool/bin/www
{% endif %}
{% if grains['randenv'] == 'prod' and grains['location'] == 'china'  %}
environment=PRODUCTION=true,LOCATION=china
{% endif %}
{% if grains['randenv'] == 'prod' and grains['location'] == 'USA'  %}
environment=PRODUCTION=true,LOCATION=USA
{% endif %}
{% if grains['randenv'] == 'dev' and grains['location'] == 'USA'  %}
environment=DEVELOPMENT=true
{% endif %}
autostart=true
autorestart=true
stderr_logfile=/home/ubuntu/logs/node.log
stdout_logfile=/home/ubuntu/logs/node.log
user=ubuntu

