[program:pushserver]
{% if grains['game'] == 'rog' and grains['randenv'] == 'prod' and grains['location'] == 'USA'  %}
command=pushserver --config /home/rog/rog_ri_production/pushserver/config-production.json
stderr_logfile=/home/rog/logs/pushserver_err.log
stdout_logfile=/home/rog/logs/pushserver_node.log
user=rog
{% endif %}
{% if grains['game'] == 'idr' and grains['randenv'] == 'test' and grains['location'] == 'USA'  %}
command=pushserver --config /home/idr/IDR-Server/idr-server/pushserver/config-staging.json
stderr_logfile=/home/idr/logs/pushserver_err.log
stdout_logfile=/home/idr/logs/pushserver_node.log
user=idr
{% endif %}
{% if grains['game'] == 'idr' and grains['randenv'] == 'prod' and grains['location'] == 'USA' %}
command=pushserver --config /home/idr/IDR-Server/idr-server/pushserver/config-staging.json
stderr_logfile=/home/idr/logs/pushserver_err.log
stdout_logfile=/home/idr/logs/pushserver_node.log
user=idr
{% endif %}

{% if grains['game'] == 'idr' and grains['randenv'] == 'prod' and grains['location'] == 'china'  %}
command=pushserver --config /home/idr/IDR-Server/idr-server/pushserver/config-china.json
stderr_logfile=/home/idr/logs/pushserver_err.log
stdout_logfile=/home/idr/logs/pushserver_node.log
user=idr
{% endif %}

autostart=true
autorestart=true

{% if grains['randenv'] == 'dev'  %}
environment=DEVELOPMENT=true
{% endif %}
{% if grains['randenv'] == 'prod'  %}
environment=PRODUCTION=true
{% endif %}


